<%= form_with(model: character, local: true) do |form| %>
  <% if character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <p>Low = Soft-Hitting but Armored</p>
    <p>High = Hard-Hitting but Squishy</p>
    <%= form.label :strength  %>
    <%= form.range_field :damage, :min=>2, :max=>10, :class=>"slide", :id=>"damage"%>
  </div>

  <div class="field">
      <%= hidden_field(:character, :user_id, :value => current_user.id) %>
  </div>

  <div class="field">
      <%= hidden_field(:character, :picked_up, :value => 'picked') %>
  </div>

  <div class="field">
      <%= hidden_field(:character, :battled, :value => 'battle') %>
  </div>


  <div class="field">
    <%= hidden_field(:character, :hp, :value=>'0') %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
